$primary-text: #0c0a0a;
$secondary-text: #fff;
$primary-color: #ccc;
$secondary-color: #e6c96d;

$font-s: 1.6rem;
$font-m: 2rem;
$font-l: 2.8rem;
$font-xl: 5rem;
$font-xxl: 10rem;


$width-mob: 980px;

@mixin isMobile {
  @media (max-width: $width-mob) {
    @content;
  }
}
@mixin isDesktop {
  @media (min-width: $width-mob) {
    @content;
  }
}
